:root{
    --light-red:#ffeded;
    --red:#cd5252;
    --dark-red:#863333;
    --black:#222;
    --white:#fff;
    --dark-grey:#666;
    --light-grey:#ccc;
    --light-bg:#f5f5f5;
    --dark-bg:#000000b3;
    --border:.1rem solid #aaa;
    --box-shadow:0 .5rem 1rem #0000001a;
}

*{
    font-family: 'Lato', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

* > img{
    user-select: none;
    pointer-events: none;
}

html{
    font-size: 90%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}



/* Header Section */

.header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    background: var(--white);
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo{
    font-size: 1rem;
    padding-right: .5rem;;
    height: auto;
}

.header .navbar a{
    font-size: 1.5rem;
    margin-left: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: var(--red);
}

.header .navbar a:hover{
    color: var(--dark-red);
    text-decoration: underline;
    text-decoration-thickness: .3rem;
}
 
  body {
    background-color: rgb(175, 175, 175);
  }

  .login-page {
    width: 100%;
    margin-top: 15%;
  }

  .form {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 35px;
    max-width: 600px;
    width: 450px;
    text-align: center;
    margin: auto;

  }

  label {
    color: rgb(160, 74, 74);
    padding-top: 10px;
    font-weight: bold;
    font-family: Helvetica,Arial, ui-sans-serif;
  }

  input[type="tel"],
  input[type="date"],
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background-color: #e5e5ee;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    font-family: Helvetica, Arial, ui-sans-serif;
    font-size: 14px;
  }

  input[type="submit"] {
    background-color: rgb(204, 49, 49);
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-top: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Helvetica, Arial, ui-sans-serif;
  }

::-webkit-input-placeholder {
    color: rgb(155, 155, 155);
    font-weight: lighter;
 }
 
 :-moz-placeholder { 
    color: rgb(155, 155, 155);  
    font-weight: lighter;
 }
 
 ::-moz-placeholder { 
    color: rgb(155, 155, 155);  
    font-weight: lighter;
 }
 
 :-ms-input-placeholder {  
    color: rgb(155, 155, 155);  
    font-weight: lighter;
 }

button {
  background-color: rgb(204, 49, 49);
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-top: 25px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Helvetica, Arial, ui-sans-serif;
}