/* Overall page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f6f3f3;
    color: #d90b0b;
    margin: 0;
    padding: 5%;
}

/* Center container */
main {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

/* Header styling */
header {
    background-color: #ed0404;
    color: #fff;
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

header h1 {
    margin: 0;
}

/* Paragraph styling */
p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    margin: 1rem 0;
}

/* Heading styling */
h2 {
    text-align: center;
    margin-top: 0;
}

/* List styling */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

/* Link styling */
a {
    color: #ec1515;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Background Image */
body {
    background-image: url("/Users/simarsahota/Desktop/Bus4-118W-project-main/Sign Up Background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
