@import url("https://fonts.googleapis.com/css?family=Irish+Grover:400");

.desktop-1 {
  border: 1px none;
  display: flex;
  height: 100%;
  width: 100%;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6434c5de05bceff6f5cb89c5/releases/64383dfff930087bb886d164/img/background-1.png);
  background-position: 50% 50%;
  background-size: cover;
  min-height: 100%;
  width: 100%;
}

.overlap-group-container {
  align-items: flex-end;
  display: flex;
  gap: 77px;
  min-width: 1382px;
}

.overlap-group3 {
  align-items: center;
  background-color: var(--fair-pink);
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 153px;
  min-height: 248px;
  padding: 23px 0;
  width: 491px;
}

.title {
  color: var(--black);
  font-family: var(--font-family-irish_grover);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 42px;
  min-height: 58px;
  min-width: 143px;
}

.phone {
  color: var(--black);
  font-family: var(--font-family-irish_grover);
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  min-height: 89px;
  width: 400px;
}

.tabs {
  color: var(--black);
  font-family: var(--font-family-irish_grover);
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  min-height: 89px;
  width: 150px;
}

.overlap-group1 {
  background-color: 
#ffe9e96e;
  height: 870px;
  position: relative;
  width: 814px;
}

.submit {
  background-color: 
transparent;
  border: 0;
  cursor: pointer;
  height: 39px;
  left: 345px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 694px;
  width: 102px;
}

.submit::placeholder {
  color: 
#00000099;
}

input:focus {
  outline: none;
}

.rectangle-7 {
  background-color: var(--white);
  height: 62px;
  left: 206px;
  position: absolute;
  top: 277px;
  width: 400px;
}

.email {
  background-color: 
transparent;
  border: 0;
  cursor: pointer;
  height: 39px;
  left: 223px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 174px;
  width: 79px;
}

.email::placeholder {
  color: 
#0000002e;
}

.rectangle-8 {
  background-color: var(--white);
  height: 228px;
  left: 206px;
  position: absolute;
  top: 391px;
  width: 400px;
}

.subject::placeholder {
  color: 
#0000002e;
}

.subject {
  background-color: 
transparent;
  border: 0;
  cursor: pointer;
  height: 39px;
  left: 223px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 288px;
  width: 109px;
}

.rectangle-6 {
  background-color: var(--white);
  height: 62px;
  left: 206px;
  position: absolute;
  top: 163px;
  width: 400px;
}

.rectangle-9 {
  background-color: var(--tamarillo);
  border-radius: 26px;
  cursor: pointer;
  height: 44px;
  left: 238px;
  position: absolute;
  top: 695px;
  width: 323px;
}

.rectangle-5 {
  background-color: var(--fair-pink);
  height: 682px;
  left: 134px;
  position: absolute;
  top: 98px;
  width: 535px;
}

.enter-your-message::placeholder {
  color: 
#0000002e;
}

.enter-your-message {
  background-color: 
transparent;
  border: 0;
  cursor: pointer;
  height: 39px;
  left: 223px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 395px;
  width: 294px;
}

.overlap-group2 {
  align-items: center;
  background-color: var(--fair-pink);
  display: flex;
  height: 154px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 20px;
}

.the-sandwich-factory {
  color: var(--tamarillo);
  font-family: var(--font-family-irish_grover);
  font-size: var(--font-size-m2);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 12px;
  min-height: 96px;
  min-width: 265px;
}

.overlap-group4 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6434c5de05bceff6f5cb89c5/releases/64383dfff930087bb886d164/img/rectangle-3.png);
  background-size: 100% 100%;
  display: flex;
  height: 86px;
  margin-left: auto;
  margin-top: auto;
  min-width: 255px;
  padding: 14px 28px;
}

.order-now {
  color: var(--black);
  font-family: var(--font-family-irish_grover);
  font-size: var(--font-size-m2);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 48px;
}

.menu {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1px;
  margin-left: 262px;
  min-height: 39px;
  min-width: 78px;
}

.contact-us {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1px;
  margin-left: 23px;
  min-height: 39px;
  min-width: 156px;
}

.the-sandwich-factory-1 {
  align-self: flex-end;
  height: 148px;
  width: 182px;
}

.about-us {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1px;
  margin-left: 23px;
  min-height: 39px;
  min-width: 130px;
}
form input {
  width: 530px;
  height: 35px;
  margin-top: 20px;
  padding: 7px;
  border: none;
  border: 1px solid rgba(255, 233, 233, 1);
  background-color: rgba(255, 233, 233, 1);
  border-radius: 6px;
  outline: none;
}
input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: rgba(255, 233, 233, 1);
  color: black;
  font-size: 18px;
}
textarea {
  border-radius: 6px;
  margin-top: 20px;
  border: none;
  background-color: rgba(255, 233, 233, 1);
  color: white;
  font-size: 18px;
  color: black;
}
form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
}