
:root {
  --black: 
rgba(0, 0, 0, 1);
  --spring-green: 
rgba(0, 230, 130, 0.51);
  --woodsmoke: 
rgba(13, 13, 13, 1);
  --dove-gray: 
rgba(112, 112, 112, 1);
  --tamarillo: 
rgba(165, 16, 16, 1);
  --catskill-white: 
rgba(236, 246, 250, 1);
  --orange-red: 
rgba(255, 48, 48, 1);
  --fair-pink: 
rgba(255, 233, 233, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-xxxs: 30px;
  --font-size-xxs: 38px;
  --font-size-s: 32px;
  --font-size-s: 42px;
  --font-size-m: 55px;
  --font-size-l: 48px;
  --font-size-l: 65px;
  --font-size-xl: 150px;
  --font-size-m2: 40px;

  --font-family-bookmanold_style-bold: "BookmanOld Style-Bold";
  --font-family-bookmanold_style-regular: "BookmanOld Style-Regular";
  --font-family-bradleyhand_itc-regular: "BradleyHand ITC-Regular";
  --font-family-californian_fb: "Californian FB";
  --font-family-californianfb-bold: "CalifornianFB-Bold";
  --font-family-irish_grover: "Irish Grover";
  --font-family-irish_grover-regular: "Irish Grover-Regular";
}



.californianfb-bold-woodsmoke-55px {
  color: var(--woodsmoke);
  font-family: var(--font-family-californianfb-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.irishgrover-regular-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-irish_grover-regular);
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
}
.bookmanoldstyle-regular-normal-woodsmoke-38px {
  color: var(--woodsmoke);
  font-family: var(--font-family-bookmanold_style-regular);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  font-style: normal;
}
.californianfb-bold-woodsmoke-42px {
  color: var(--woodsmoke);
  font-family: var(--font-family-californianfb-bold);
  font-size: var(--font-size-s);
  font-weight: 700;
  font-style: normal;
}
.bookmanoldstyle-bold-dove-gray-38px {
  color: var(--dove-gray);
  font-family: var(--font-family-bookmanold_style-bold);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  font-style: normal;
}
.irishgrover-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-irish_grover);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.bookmanoldstyle-bold-woodsmoke-50px {
  color: var(--woodsmoke);
  font-family: var(--font-family-bookmanold_style-bold);
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
}
.bookmanoldstyle-regular-normal-orange-red-30px {
  color: var(--orange-red);
  font-family: var(--font-family-bookmanold_style-regular);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  font-style: normal;
}
.bookmanoldstyle-regular-normal-woodsmoke-65px {
  color: var(--woodsmoke);
  font-family: var(--font-family-bookmanold_style-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.bradleyhanditc-regular-normal-woodsmoke-150px {
  color: var(--woodsmoke);
  font-family: var(--font-family-bradleyhand_itc-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-style: normal;
}
.californianfb-bold-woodsmoke-55px-2 {
  color: var(--woodsmoke);
  font-family: var(--font-family-californian_fb);
  font-size: var(--font-size-m);
}
.bookmanoldstyle-bold-dove-gray-45px {
  color: var(--dove-gray);
  font-family: var(--font-family-bookmanold_style-bold);
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
}